mixin labelItem(id, label)
  .form__group
    label.form__label(for=`${id}`)= label

mixin footnoteItem(url, label)
  .form__group.right 
    a.footlink(href=`${url}`)= label

mixin photoItem(url, altText, imageId, imageName, imageLabel)
  .form__group.form__photo-upload
      img.form__user-photo(src=`img/users/${url}`, alt=`${altText}`)
      input.form__upload(type="file", accept="image/*", id=`${imageId}`, name=`${imageName}`)
      label(for=`${imageId}`)= imageLabel

mixin formItem(itemStyle, inputId, inputType, inputMinLength, placeholder, label, value)
  .form__group(class=`${itemStyle}`)
    label.form__label(for=`${inputId}`)= label
    input.form__input(id=`${inputId}`, type=`${inputType}`, minlength=`${inputMinLength}` placeholder=`${placeholder}`, value=`${value}`, required)

mixin form(heading, headingClass, formClass, formItems, buttonId, buttonLabel, buttonStyle, buttonRight)
  h2.heading-secondary(class=`${headingClass}`)= heading
  form.form(class=`${formClass}`)
    each item in formItems 
      if item.isPhoto
        +photoItem(item.url, item.altText, item.imageId, item.imageName, item.imageLabel)
      else if item.isFootnote
        +footnoteItem(item.url, item.label)
      else if item.isLabel 
        +labelItem(item.inputId, item.label)
      else
        +formItem(item.itemStyle, item.inputId, item.inputType, item.inputMinLength, item.placeholder, item.label, item.value)
    .form__group(class=`${buttonRight ? ".right" : ""}`)
      button.btn.btn--green(id=`${buttonId}`, class=`${buttonStyle}`)= buttonLabel